{% extends 'base.html.twig' %}

{% block main %}
    <div class="container py-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('disjfa_story_story_index') }}">Stories</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ story.title }}</li>
            </ol>
        </nav>
        <h1>{{ story.title }}</h1>
        <a href="{{ path('disjfa_story_page_story_create', {'story': story.id}) }}">Add page</a>

        <h3>Pages</h3>
        {% for page in story.pages %}
            <div>
                <a href="{{ path('disjfa_story_page_story_show', {'storyPage': page.id}) }}">
                    {{ page.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

